@import url('https://fonts.googleapis.com/css?family=Jersey%2025:700|Aldrich:400');

:root {
  --text: #d5c9f8;
  --background: #130736;
  --primary: #ff00cc;
  --secondary: #24ccff;
  --accent: #ffcd29;

  --text-50: #ede8fc;
  --text-100: #dcd2f9;
  --text-200: #b8a5f3;
  --text-300: #9578ed;
  --text-400: #724ae8;
  --text-500: #4e1de2;
  --text-600: #3f17b5;
  --text-700: #2f1287;
  --text-800: #1f0c5a;
  --text-900: #10062d;
  --text-950: #080317;

  --background-50: #ede8fc;
  --background-100: #dcd2f9;
  --background-200: #b8a5f3;
  --background-300: #9578ed;
  --background-400: #724ae8;
  --background-500: #4e1de2;
  --background-600: #3f17b5;
  --background-700: #2f1287;
  --background-800: #1f0c5a;
  --background-900: #10062d;
  --background-950: #080317;

  --primary-50: #ffe5fa;
  --primary-100: #ffccf5;
  --primary-200: #ff99eb;
  --primary-300: #ff66e0;
  --primary-400: #ff33d6;
  --primary-500: #ff00cc;
  --primary-600: #cc00a3;
  --primary-700: #99007a;
  --primary-800: #660052;
  --primary-900: #330029;
  --primary-950: #1a0014;

  --secondary-50: #e5f9ff;
  --secondary-100: #ccf3ff;
  --secondary-200: #99e7ff;
  --secondary-300: #66dbff;
  --secondary-400: #33cfff;
  --secondary-500: #00c3ff;
  --secondary-600: #009ccc;
  --secondary-700: #007599;
  --secondary-800: #004e66;
  --secondary-900: #002733;
  --secondary-950: #00141a;

  --accent-50: #fff9e5;
  --accent-100: #fff3cc;
  --accent-200: #ffe799;
  --accent-300: #ffdb66;
  --accent-400: #ffcf33;
  --accent-500: #ffc300;
  --accent-600: #cc9c00;
  --accent-700: #997500;
  --accent-800: #664e00;
  --accent-900: #332700;
  --accent-950: #1a1400;

  --linearPrimarySecondary: linear-gradient(#ff00cc, #24ccff);
  --linearPrimaryAccent: linear-gradient(#ff00cc, #ffcd29);
  --linearSecondaryAccent: linear-gradient(#24ccff, #ffcd29);
  --radialPrimarySecondary: radial-gradient(#ff00cc, #24ccff);
  --radialPrimaryAccent: radial-gradient(#ff00cc, #ffcd29);
  --radialSecondaryAccent: radial-gradient(#24ccff, #ffcd29);
}

* {
  min-width: 0;
  font: inherit;
  color: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  min-height: 100dvh;
  font-family: 'Aldrich';
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Jersey 25';
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
