/* Global */
html, body {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    background-color: black; /* Fond global noir */
    font-family: "Roboto", sans-serif;
}

#GameBoard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    margin: 5% auto;
    background-color: black;
    border: 5px solid rgb(179, 0, 255); /* contour visible */
    border-radius: 10px;      /* coins arrondis */
    width: 420px;
    height: 420px;
    margin-left: 125%;
}


/* Cases */
#GameBoard div {
    width: 40px;
    height: 40px;
    background-color: black; /* fond des cases */
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
